.click-particle {
    position: fixed;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary);
    pointer-events: none;
    z-index: 9999;
    animation: particles 0.8s forwards;
}

@keyframes particles {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(var(--x), var(--y)) scale(0);
        opacity: 0;
    }
}